body {
  background-color: beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.crawl > * {
    display: inline;
    margin: 1rem;
}

label {
    font-weight: bold;
}

#url,.projAtr,.crawl,.user {
    margin: 1rem;
}


.project {
    border: 1px solid;
    padding: 1rem;
}

input, button {
    margin-right: 1rem;
}

input {
    width: 320px;
}

.selector {
    width: 100%;
    margin: 1rem;
}